body{
    margin:0;
    padding: 0;
    overflow: hidden;

    width:100vw;
    height: 100vh;

    position: relative;

    background-image: url("/public/background.png");
    background-repeat: repeat;

    font-family: Arial, Helvetica, sans-serif;
}

#cancon{
    width:130vh;
    max-width:90vw;
    height: 90vh;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
}
#vidcan{
    width:100%;
    cursor: move;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    -webkit-box-shadow: 1px 8px 84px -18px rgba(0,0,0,0.87);
    -moz-box-shadow: 1px 8px 84px -18px rgba(0,0,0,0.87);
    box-shadow: 1px 8px 84px -18px rgba(0,0,0,0.87);
}

#playbackmode{
    position: absolute;
    left: 5px;
    top: 10px;
    color:white;
}
#playbackmodebuttons div{
    display: inline;
    padding: 5px;
    background: black;
    cursor: pointer;
}
#playbackmodebuttons div.leftbutton{
    border-radius: 5px 0 0 5px;
    background-color: orangered;
}
#playbackmodebuttons div.rightbutton{
    border-radius: 0 5px 5px 0;
}

#playbackmodebuttons:hover div, #playbackmodebuttons:hover div.leftbutton{
    background-color: black;
}
#playbackmodebuttons:hover div.rightbutton{
    background-color: indianred;
}


#playbackcontrols{
    position: absolute;
    bottom: -40px;
    left: 5px;
    margin: auto 0;
    color: white;
    transition: bottom ease-in-out 0.5s;
}
#playbackcontrols div{
    display: inline;
    margin: 0 0px;
    padding: 2px;
    background-color: black;
    cursor: pointer;
}
#playbackcontrols div:hover{
    background-color: cornflowerblue;
    user-select: none;
}

#playbackinfo{
    position: absolute;
    left: 5px;
    bottom: 5px;
    transition: bottom ease-in-out 0.5s;
}
#playbackinfo input{
    display: block;
    background: white;
    border: none;
    color: black;
}
#playbackinfo #openarchive{
    font-size: small;
    color: white;
    background-color: black;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}
#playbackinfo #openarchive:hover{
    background-color: cornflowerblue;
}


#preferences{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: small;
}
#preferences div{
    background: black;
    color: white;
    padding: 5px;
    margin: 5px 0;
}

.information{
    margin: 10px 0 10px 0;
    padding: 5px;
    color: darkgray;
    background-color: black;
    font-size: x-small;
    display: block;
    overflow: hidden;
    width: 1em;
    height: 1em;
}
.information p{
    display: none;
}
.information:hover{
    width: 10em;
    height: auto;
}
.information:hover p{
    display: inline;
}