body{
    margin:0;
    padding: 0;
}

#vidcan{
    height:70vh;
    max-width:100vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;

    -webkit-box-shadow: 1px 8px 84px -18px rgba(0,0,0,0.87);
    -moz-box-shadow: 1px 8px 84px -18px rgba(0,0,0,0.87);
    box-shadow: 1px 8px 84px -18px rgba(0,0,0,0.87);
}