body{
    margin:0;
    padding: 0;

    width:100vw;
    height: 100vh;

    position: relative;
}

#cancon{
    width:150vh;
    max-width:90vw;
    height: 90vh;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
}
#vidcan{
    width:100%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    -webkit-box-shadow: 1px 8px 84px -18px rgba(0,0,0,0.87);
    -moz-box-shadow: 1px 8px 84px -18px rgba(0,0,0,0.87);
    box-shadow: 1px 8px 84px -18px rgba(0,0,0,0.87);
}